---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import "../styles/global.css";
import "../styles/uikit.css";
import FilterToggle from "../components/FilterToggle.astro";
import FilterBadge from "../components/FilterBadge.astro";
import ProjectCard from "../components/ProjectCard.astro";
import StaticProjectCard from "../components/StaticProjectCard.astro";
import MainframeHeroImage from "../img/mainframe-pro/ProjectCardPreview.png";
import MainframeClassicCardPreview from "../img/mainframe-classic/ProjectCardPreview.png";
import EC2OptimizerCardPreview from "../img/aws-cost-optimizer/ProjectCardPreview.png";
import AntiHeroCardPreview from "../img/anti-hero/ProjectCardPreview.png";
import MFFCardPreview from "../img/mercer-food-finder/ProjectCardPreview.png";
import MyHousingCardPreview from "../img/my-housing/ProjectCardPreview.png";
---

<MainLayout subtitle="Projects">
  <div class="container-fluid my-5 bg-light">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Projects</span>
      </h1>
    </div>
    <!-- <div class="container">
        <h2>Filters</h2>
        <button class="btn btn-xs btn-red btn-icon me-2" type="button">
            X
        </button>
        <FilterToggle toggleText="Angular"></FilterToggle>
        <FilterToggle toggleText="React"></FilterToggle>
        <FilterToggle toggleText="D3.js"></FilterToggle>
        <FilterToggle toggleText="PostgreSQL"></FilterToggle>
    </div> -->
    <section class="py-5">
      <div class="container-xxl">
        <div class="row gx-5 mb-5">
          <ProjectCard
            tagList="Angular, Spring Boot, Express, Typescript, Java, PostgreSQL, Node.js, Nginx, Sequelize, Git, Docker, Kafka"
            projectTitle="MAINFRAME Pro"
            description=`A student information management system designed with a mobile-first approach.<br>
            With MAINFRAME's simplified approach to information management, it's easy for school staff and parents to access and update data. No tutorial required.`
            imageSrc={MainframeHeroImage.src}
            ,
            linkTo="/projects/mainframe-pro"
          />
          <ProjectCard
          isNew={true}
          tagList="React, Django, Flask, Docker, Typescript, EC2, Python, PostgreSQL, Git"
          projectTitle="React Food Finder"
          description="An updated version of the <span class='text-primary'>Mercer County Free Food Finder</span> — a fully-featured web application for connecting Mercer County residents with free food resources near them. Comes equipped with a powerful Django backend and a feature rich React frontend to make management of resource data a breeze."
          imageSrc={MFFCardPreview.src}
          ,
          linkTo="/projects/mercer-food-finder"
        />
        
          <ProjectCard
            tagList="React, D3.js, Python, Typescript, Flask, PostgreSQL, Bash, Git"
            projectTitle="ANTI-HERO: Cost Optimized Distributed System"
            description=`A distributed systems research project focusing on balancing resource cost and fault tolerance. Built with intercommunicating REST API backends. Project advised by Professor Wyatt Lloyd of Princeton University.`
            imageSrc={AntiHeroCardPreview.src}
            ,
            linkTo="/projects/anti-hero"
          />
          <ProjectCard
            tagList="Access, MSSQL, Java, Git, EC2"
            projectTitle="AWS EC2 Cost Optimizer"
            description=`An application built to: seamlessly import AWS EC2 
            instance usage data, offer appropriate downgrade options, and generate cost savings reports. 
            Created as a solo project during my time at Accenture, ultimately streamlining the cost optimization process of my previous team.`
            imageSrc={EC2OptimizerCardPreview.src}
            ,
            linkTo="/projects/aws-cost-optimizer"
          />
          <ProjectCard
            tagList="Flask, Javascript, Python, PostgreSQL, Jenkins, Git, Nginx"
            projectTitle="My Housing Upgraded"
            description="A housing management application for helping admin manage housing lottery processes while also making the student experience live and interactive."
            imageSrc={MyHousingCardPreview.src}
            ,
            linkTo="/projects/my-housing"
          />
          <StaticProjectCard
            tagList=".NET Core, React, C#, MSSQL, IIS, Typescript"
            projectTitle="MAINFRAME Classic"
            description="A student information management system built on top of a .NET Core API backend with a React frontend."
            imageSrc={MainframeClassicCardPreview.src}
            ,
            linkTo="/projects/mainframe-pro"
          />
        </div>
      </div>
    </section>
  </div>
</MainLayout>

<!-- <style>
</style> -->
