---
import FilterBadge from "./FilterBadge.astro";
import { Image } from "astro:assets";
const {
  linkTo = "#!",
  projectTitle = "Upcoming Project",
  description = "TBD",
  tagList = "",
  imageSrc = "https://source.unsplash.com/2d4lAQAlbDA/800x500",
  isNew = false
} = Astro.props;

const tags = tagList.split(',');
---

<div class="col-lg-6 mb-5">
  <a class="card lift h-100" href={linkTo}>
    <img class={`card-img-top ${ isNew ? 'shimmer' : ''}`} src={imageSrc} alt={projectTitle} />
    <div class="card-body">
      <h4 class="card-title mb-2 text-primary">{projectTitle}</h4>
      <p class="card-text" set:html={description}></p>
      <div>
        {tags.map((tag) => (
            <FilterBadge badgeText={tag.trim()}></FilterBadge>
           ))}
      </div>
    </div>
    <div
      class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
      <div class="small text-primary">See more</div>
      <div class="small text-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-right"
          ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
            points="12 5 19 12 12 19"></polyline></svg
        >
      </div>
    </div>
  </a>
</div>

<style>
.shimmer {
  color: grey;
  display:inline-block;
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s forwards;
  font-size: 50px;
  /* max-width:200px; */
}

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}

</style>
